$header-color: #561012;
$special-black: #131313;
$h-color: #dedede;

html{
max-width: 800px;
margin: auto;
font-family: 'Big Shoulders Text', cursive;
}

#header{
	background-color: $header-color;
	height: 113px;
}

#logo{
	margin: 5% 2% 5% 2%;
}

#header-banner{
	// float: right;
		margin: 3%;
		// display:block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $special-black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #9c0c0d;
}

#News{
	float: left;
	background-color: $h-color;
	max-width: 800px;
	width: 99%;

	padding: 6px;
}

.NewsPic{
	width: 28%;
	display: inline-block;

}

.wrapper {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;

}

.NewsPic img {
  width: 100%;

}

#bannerMain{
// float: right;
// margin-top: -150px;
height: 320px;
width: 106px;
height: 320px;
width: 106px;
float: right;
margin-top: -148px;

} 

#popular{
	float: left;
	background-color: $h-color;
	max-width: 800px;
	width: 83%;
	padding: 6px;
	margin-bottom: 7px;
}

.container{
	position: relative
}

.first-p{
	background-color: black;
	color: white;
	width: 220px;
	margin-top: -42px;
	position: absolute;
}

.second-p{
	background-color: black;
	color: white;
	width: 220px;
	margin-top: -42px;
	position: absolute;
	margin-left: 223px;
}

.third-p{
	background-color: black;
	color: white;
	width: 219px;
	margin-top: -42px;
	position: absolute;
	margin-left: 446px;
}
.HTBP{
	width: 42%;
	display: inline-block;
	margin-top: 16px;
}

.HTBP img{
	width: 100%;
}

.third-wrapper{
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

#iphoneText{
	background-color: black;
	color: white;
	width: 329px;
	margin-top: -42px;
	position: absolute;
}

#smartText{
	background-color: black;
	color: white;
	width: 327px;
	margin-top: -42px;
	position: absolute;
	margin-left: 333px;
}

#inears{
	background-color: black;
	color: white;
	width: 329px;
	margin-top: -42px;
	position: absolute;
}

#phone{
	background-color: black;
	color: white;
	width: 327px;
	margin-top: -42px;
	position: absolute;
	margin-left: 333px;
}

#logo-footer{
	margin-top: 30px;
	margin-left: 75%;
}

#footer-text{
	color:white;
	text-align: center;
}

@media only screen and (max-width: 821px){
	#header-banner{
		display:none;
	}
	li{
		margin-left: 150px;
	}
}